.footer {
    text-align: center;
    padding: 2em;
    margin-top: auto;  /* Pushes footer to bottom */
}

:root {
  --font-size-base: 20px;
  --line-height: 32px;
}

:root.dark {
    --primary-color: #DAA520;
    --text-0: #fafafa;
    --text-1: #b5b5b5;
    --text-2: #828282;
    --bg-0: #1c1c1c;
    --bg-1: #292929;
    --bg-2: #424242;
}

:root.light {
  --primary-color: #79b473;
}

article h1 {
  font-family: monospace var(--header-font);
  font-size: 1.8rem;
  margin-top: 2em;
}
article h2 {
  font-family: monospace var(--header-font);
  font-size: 1.6rem;
  margin-top: 2em;
}
article h3 {
  font-family: monospace var(--header-font);
  font-size: 1.4rem;
  margin-top: 2em;
}
article h4,
article h5,
article h6 {
  font-family: monospace var(--header-font);
  font-size: 1.2rem;
  margin-top: 2em;
}

nav .left-nav {
  font-size: 1.75rem;
}

.right-nav {
  font-size: 1.25rem;
}

nav .left-nav .socials .social img, 
.search-button .search-icon, 
nav .right-nav #dark-mode-toggle>img {
  width: 24px;
  height: 24px;
}